/* stylelint-disable */
$inputBorderColor: #999;
$buttonColor: #3369F3;
/* stylelint-enable */

.container {
    background-color: #FFF;
    color: #000;
    max-width: 342px;
    padding: 36px 34px;
    position: relative;
    box-shadow: 0 0 25px rgb(0 0 0 15%);
    border-radius: 10px;
    box-sizing: border-box;
}

.title {
    font-weight: 900;
    font-size: 22px;
    line-height: 27px;
    margin: 0 0 54px;
}

.closeButton { /* stylelint-disable-line */
    border: none;
    background: url("../../../../../static/popup-close.svg") center/100% no-repeat;
    cursor: pointer;
    padding: 0;
    position: absolute;
    width: 32px;
    height: 32px;
    top: -40px;
    right: -40px;
}

.input {
    margin: 0 0 40px;
    border: none;
    border-bottom: 1px solid $inputBorderColor;
    width: 100%;
}

.button {
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    background-color: $buttonColor;
    border-radius: 8px;
    border: none;
    color: #FFF;
    width: 280px;
    padding: 12px 0;
    margin-bottom: 14px;
    opacity: 1;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.button:hover {
    opacity: 0.7;
}

.form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }
