/* stylelint-disable */
@import url('../static/normalize.scss');
@import url('../static/fonts/fonts.scss');


$black: #000000;
$white: #ffffff;
/* stylelint-enable */

body {
  font-family: Inter, arial, sans-serif;
  background-color: $white;
  color: $black;
  /* stylelint-disable */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  /* stylelint-enable */
}

.content {
  min-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
