<section class={{styles.internal-server-error}}>
  <h1 class={{styles.title}}>500</h1>
  <p class={{styles.text}}>Мы уже фиксим</p>
  <a href='/chats' class={{styles.link}}>Назад к чатам</a>
</section>
